html {
    scroll-behavior: smooth;
  }

  .raj{
    
    display: flex;
  }

  body {
    background: #515360;
    font-family: sans-serif;
  }
  
  /* Main Heading Font */
  .m-heading {
    font-family: "Roboto Slab", serif;
  }
  
  .main-container {
    height: 100vh;
  }
  
  .main_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main_row h1 {
    font-size: 5rem;
  }
  
  /* Making the main image the size of the screen */
  .main_row img {
    width: auto;
    height: 100vh;
  }

  .button{
    margin-top: 35px;
     margin-left: 150px; 
  }

  .folio{
    display: block;
  }
  
  /* About Section */
  .about {
    background: #313552;
    border-radius: 0.5rem;
  }

  .salim{
    color: rgb(148, 239, 20);
  }
  
  .card {
    border-bottom: 8px solid #f5ba09;
  }
  
  /* Social Media Section */
  #social-media {
    background: #66676d;
    margin-top: 50px;
  }
  
  /* Add color to Social Media Links */
  .media_link {
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid #f5ba09;
    border-radius: 0.5rem;
  }

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }

  #skill-section {
    width: 100%;
    height: auto;
    padding: 80px;
    background-color: rgb(145, 149, 152);
  }

  .skill-head{
    width: 100%;
    display: grid;
    margin-bottom: 50px;
    place-items: center;
    text-align: center;
  }

  .main{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:100px ;
    grid-row-gap: 20px;
  }
  
  p {
    font-size: 20px;
}

.bar {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 15px;
}

.skill {
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.main .skill-bar .info{
  display: flex;
  justify-content: space-between;
  padding: 0.10px;
}

.skill-bar .bar{
  width: 100%;
  height: 10px;
  position: relative;
  border-radius: 25px;
  margin-top: 5px;
}

.skill-bar .bar span{
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #e74d0e;
  border-radius: 25px;
}

.skill-bar .info .percent{
  font-weight: bold;
}

.skill-bar .bar .html{
  width: 80%;
  animation: html 3s;
}
@keyframes html{
  0%{
    width: 0;
  }100%{
    width: 80%;
  }
}

.skill-bar .bar .js{
  width: 50%;
  animation: js 3s;
}
@keyframes js{
  0%{
    width: 0;
  }100%{
    width: 50%;
  }
}

.skill-bar .bar .code{
  width: 70%;
  animation:  code 3s;
}
@keyframes code{
  0%{
    width: 0;
  }100%{
    width: 70%;
  }
}


.raju {
  position: relative;
  z-index: 3;
  padding-top: 0px;
  padding-bottom: 50px;
} 

section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
} 


.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;;
}

.section-header p {
  color: #FFF;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
} 

 .raees{
  display: flex;
  justify-content: center; 
}

.muju{
  background-color: #333;
}

.tahir{
  width: 28rem;
 height:32rem;
 margin-right:80px;
 text-align: center;
}

.tahir1{
  width: 28rem;
  height:32rem;
  margin-left:80px;
  text-align: center;
}

.tahir2{
  width: 28rem;
  height:32rem;
  margin-right:80px;
  text-align: center;
}

.tahir3{
  width: 28rem;
  height:28rem;
  margin-left:80px;
  text-align: center;
}

.card-img-top1{
  height: 12.5rem;
}

.card-body{
  background-color: #cecacb;
}